{# encoding:utf-8 #}
{% extends 'form.html' %}
{% block title %}Nuevo Registro{% endblock%}

{% block formtitle %}
Registrate
{% endblock %}
{% block formtitle2 %}
    Registro de Usuario
{% endblock %}
{% block form %}
    {% for field in formulario %}
        <div class="form-group ">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="col-sm-9">
                {{ field }}
                {% if field.help_text %}
                    <p class="fg-color-green">
                        <i class="icon-warning"></i> {{ field.help_text }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% for field in formuser %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="col-sm-9">
                {{ field }}
                {% if field.help_text %}
                    <p class="fg-color-green">
                        <i class="icon-warning"></i> {{ field.help_text }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block submit %}Guardar{% endblock %}