{% extends 'base.html' %}
{% block title %}
Mis Productos
{% endblock %}
{% block menuopciones %}
{% include 'productos/_menu.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2>Mis Productos</h2>
    <div class="col-lg-7">
        {% for producto in productos %}
            <div class="panel {% cycle 'panel-primary' 'panel-success' 'panel-danger' 'panel-info' 'panel-warning' %}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ producto.nombre }}</h3>
                </div>
                <div class="panel-body">
                    <p>
                        {{ producto.descripcion }}
                    </p>
                    <p class="border-color-black"></p>
                    <div class="row">
                        <div class="col-md-12">
                            <form enctype="multipart/form-data" action="{% url 'productos.views.new_imagen' producto.id %}" method="post">{% csrf_token %}
                                {{ formulario.as_p }}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a class="btn btn-info small images_ajax" id="{{ producto.id }}">Ver Imagenes</a>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
        {% endfor %}
    </div>
    <div class="col-md-5" id="img">
    </div>
</div>
<script>
$(document).ready(function(){
    $(".images_ajax").click(function(e){
        e.preventDefault();
        var id = $(this).attr('id');
        $.ajax({
            data:{'id': id},
            url:"{% url 'productos.views.imagenes_producto_ajax' %}",
            type: "GET",
            success: function(data){
                $("#img").html(data);
            },
            failure: function(data){
                console.log('error');
            }
        });
    })
});
</script>
{% endblock %}