<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            {% if user.is_authenticated %}
                <a href="{% url 'users.views.index_perfil' %}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>
                    {{ user.username|upper }} | AhiTeVeo
                </a>
            {% else %}
                <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>
                    AhiTeVeo
                </a>
            {% endif %}
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'productos.views.index' %}">Categorias</a>
                    </li>
                    <li>
                        <a href="{% url 'productos.views.index_productos' %}">Productos</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'users.views.loguet_out' %}" class="fg-color-yellow">Cerrar Sesion</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'users.views.loguet_in' %}" class="fg-color-orange">Iniciar Sesion</a></li>
                    <li><a href="{% url 'users.views.new_user' %}">Registrate</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>