{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}
    AhiteVeo
	{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'teme/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'teme/bootswatch.min.css' %}">
    <link rel="stylesheet" href="{% static 'teme/style.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	{% include '_menu.html' %}
    <br/>
	<div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <div data-alert class="alert alert-dismissable alert-{{ message.tags }}">
                        <p class="margin0 fi">
                            {{ message|safe }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
		<div class="row">
			<div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                {% block menuopciones %}
                                    {% if categorias %}
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                {% for categoria in categorias %}
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a id="{{ categoria.id }}" href="#collapse{{ categoria.nombre }}" data-toggle="collapse" data-parent="#accordion" class="ajax" >
                                                                {{ categoria.nombre }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse{{ categoria.nombre }}" class="panel-collapse collapse in">

                                                    </div>

                                                    <script>
                                                        $( document ).ready(function() {
                                                            var id = "#{{ categoria.id }}";
                                                            var cont = 1;
                                                            $(id).click(function(){
                                                                var a = $(this);
                                                                cont++;
                                                                var divid = "#collapse{{ categoria.nombre }}";
                                                                var div = $(divid);
                                                                if(cont%2 == 0){
                                                                    $.ajax({
                                                                        data:{'nombre': "{{ categoria.nombre }}"},
                                                                        url:"{% url 'productos.views.buscar_tipo_ajax' %}",
                                                                        type: "GET",
                                                                        success: function(data){
                                                                            div.html(data);
                                                                        },
                                                                        failure: function(data){
                                                                            console.log('error');
                                                                        }
                                                                    });
                                                                }
                                                                else{
                                                                    div.html('');
                                                                }

                                                            });
                                                        });
                                                    </script>
                                                {% endfor %}
                                                <script>
                                                    $(document).ready(function(){
                                                        $('.collapse').collapse();
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                            <div class="col-md-9">
                                {% block cuerpo %}
                                     {% include 'productos/_productos.html' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootswatch.js' %}"></script>
</body>
</html>