{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}
    AhiteVeo
	{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'teme/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'teme/bootswatch.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	{% include '_menu.html' %}
    <br/>
    {% if messages %}
        <div class="row">

            {% for message in messages %}
                <div class="alert alert-dismissable alert-success {{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Mensaje!</strong> {{ message|safe }}.
                </div>
            {% endfor %}

        </div>
    {% endif %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                {% block menuopciones %}
                                {% endblock %}
                            </div>
                            <div class="col-md-9">
                                {% block cuerpo %}
                                    <h1>Este es el Cuerpo</h1>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootswatch.js' %}"></script>
</body>
</html>