{% extends 'base.html' %}
{% block title %}
Formulario
{% endblock %}

{% block cuerpo %}
<form method="post" action="" class="form-horizontal">{% csrf_token %}
  <fieldset>
    <legend>{% block legend %}
    Formulario
    {% endblock %}</legend>

    {% block cuerpo_formulario %}
        {% for field in formulario %}
            {% if field.errors %}
                <div class="alert alert-dismissable alert-error">
                  {{ field.errors }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ field.label_tag }}
                <div class="col-lg-9">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <a href="{% block cancel %}/{% endblock %}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">{% block submit %}Guardar{% endblock %}</button>
      </div>
    </div>
  </fieldset>
</form>
<script>
    $('label').addClass('col-lg-3 control-label');
    $('input').addClass('form-control')
    $('select').addClass('form-control')
</script>
{% endblock %}