<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plantilla básica de Bootstrap</title>

    <!-- CSS de Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/dashboard.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/fonts/glyphicons-halflings-regular.svg" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/styles.css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr.custom.04022.js}"></script>
    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <!--script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script-->

    <!--[endif]-->
</head>
<body class="body">
<div class="container">
    <div class="row base-contenedor " style="background: transparent url(../static/images/firma1609wc.png) no-repeat; background-size: 100% 100%;">
        <div class="col-md-4">
            <img data-src="holder.js/140x140" class="img-rounded " alt="120x160"
                 src="./static/images/logos.png"
                 style="width: 250px; height: 140px; margin: 4px;">
        </div>

            <div class="btn-group pull-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'users.views.loguet_out' %}" class="btn btn-warning">Cerrar
                        Sesion</a>
                {% else %}
                    <a href="{% url 'users.views.loguet_in' %}" class="btn btn-styles">Iniciar
                        Sesion</a>
                {% endif %}
                <a href="{% url 'users.views.new_user' %}" class="btn bg-primary">Registrate</a>
             </div>

        <div class="col-md-8  margin-top-75 padding-menu ">
            <ol class="nav navbar-nav  pull-right none-color-backgraund ">
                <li class="bg-primary active none-color-backgraund "><a href="#" class="btn font-size none-color-backgraund text-styles text-actived">INICIO</a></li>
                <li class="bg-primary none-color-backgraund"><a href="#" class="btn font-size none-color-backgraund text-styles">QUIENES SOMOS</a></li>
                <li class="bg-primary none-color-backgraund"><a href="#" class="btn font-size none-color-backgraund text-styles">NUESTROS SERVICIOS</a></li>
                <li class="bg-primary none-color-backgraund"><a href="#" class="btn font-size none-color-backgraund text-styles">CONDICIONES DE USO</a></li>
                <li class="bg-primary none-color-backgraund"><a href="#" class="btn font-size none-color-backgraund text-styles">PUBLICIDAD</a></li>
            </ol>
        </div>
    </div>

    <div class="row margin-top-1 padding-sup-inf-2 "  style=" background: #fff6f9 url(../static/images/fond.jpg)repeat; background-size:100% 100%;">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="pull-right">
                    <label for="search" class="col-xs-2 control-label text-color-white">Buscar</label>
                    <div class="col-xs-8 ">
                        <input type="text" class="form-control form-control-height " id="search" placeholder="search">
                    </div>
                    <button type="submit" class="col-xs-2 margin-center  button-label-color"><i class="glyphicon glyphicon-search margin-center button-label-color"></i></button>
            </div>
        </div>
    </div>

    {% block cuerpo %}
        <div class="row" >
            <div class="col-md-12 rgb-color">
                <div class="sp-slideshow " style="  background: #2c2e28 url(../static/images/grid.png) repeat scroll 0 0 !important;">

                        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
                        <label for="button-1" class="button-label-1"></label>

                        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
                        <label for="button-2" class="button-label-2"></label>

                        <input id="button-3" type="radio" name="radio-set" class="sp-selector-3" />
                        <label for="button-3" class="button-label-3"></label>

                        <input id="button-4" type="radio" name="radio-set" class="sp-selector-4" />
                        <label for="button-4" class="button-label-4"></label>

                        <input id="button-5" type="radio" name="radio-set" class="sp-selector-5" />
                        <label for="button-5" class="button-label-5"></label>

                        <label for="button-1" class="sp-arrow sp-a1" style="background: transparent url(../static/images/arrows.png) no-repeat;"></label>
                        <label for="button-2" class="sp-arrow sp-a2" style="background: transparent url(../static/images/arrows.png) no-repeat;"></label>
                        <label for="button-3" class="sp-arrow sp-a3" style="background: transparent url(../static/images/arrows.png) no-repeat;"></label>
                        <label for="button-4" class="sp-arrow sp-a4" style="background: transparent url(../static/images/arrows.png) no-repeat;"></label>
                        <label for="button-5" class="sp-arrow sp-a5" style="background: transparent url(../static/images/arrows.png) no-repeat;"></label>



                        <div class="sp-content" style="background: #579ca3 url(../static/images/grid.png) repeat scroll 0 0 !important;">
                            <div class="sp-parallax-bg" style="background: url(../static/images/map.png) repeat-x scroll 0 0;"></div>
                            <ul class="sp-slider clearfix">
                                <li><img src="./static/images/image1.png" alt="image01" /></li>
                                <li><img src="./static/images/image2.png" alt="image02" /></li>
                                <li><img src="./static/images/image3.png" alt="image03" /></li>
                                <li><img src="./static/images/image4.png" alt="image04" /></li>
                                <li><img src="./static/images/image5.png" alt="image05" /></li>
                            </ul>
                        </div><!-- sp-content -->

			    </div><!-- sp-slideshow -->
                <!--img class="img-rounded imagen" alt="120x120" src="./static/images/publicidad2.jpg"
                     style="width: 99%; height: 420px;"-->
            </div>
        </div>

    {% endblock %}

    <div class="descripcion">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2> Bienvenidos a Nuestra Pagina</h2>

                        <p class="parrafo">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                            commodo, tortor
                            mauris
                            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                            mollis
                            euismod. Donec sed odio dui.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam asperiores aspernatur
                            consequuntur
                            dolor ducimus eos, ipsum libero maiores natus neque nobis numquam quaerat quia, quibusdam
                            repellat
                            repudiandae voluptatem, voluptates?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae
                            blanditiis culpa dicta eaque earum excepturi, inventore iure magnam minima natus necessitatibus,
                            nisi officiis
                            perferendis quam quas quod totam veritatis voluptates. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                            Cupiditate, ea laudantium maiores reiciendis repellendus rerum sed! Accusantium asperiores dicta
                            eius, illum ipsa
                            maxime molestiae natus necessitatibus possimus, quibusdam voluptate voluptatibus?Lorem ipsum
                            dolor sit amet,
                            consectetur adipisicing elit. Adipisci amet assumenda at commodi, consequuntur, dolore dolorem
                            doloremque illo
                            illum inventore maiores minima non quaerat ratione repellat, reprehenderit repudiandae sapiente
                            vitae.</p>
                    </div>
                </div>
                <hr>
                <div class="row contactos" style=" background: #190f05 url(../static/images/fond.jpg)repeat; background-size:100% 100%;">
                    <div class="col-md-1"></div>
                    <div class="col-md-5  borde-contac">
                        <h2>Contactos</h2>

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputNombre3" class="col-sm-3 control-label bg-primary">Nombre</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputNombre3" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCorreo3" class="col-sm-3 control-label bg-primary">Correo</label>

                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputCorreo3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDescrpcion3" class="col-sm-3 control-label bg-primary">Descripcion</label>

                                <div class="col-sm-9">
                                    <textarea class="form-control" id="inputDescrpcion3"
                                              placeholder="Decripcion"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-sm-3  pull-left">
                                    <button type="submit" class="btn btn-primary enviar">Enviar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-5 borde-contac face">
                        <h2>Redes Sociales</h2>

                        <p>

                        <div class="fb-like" data-href="http://www.ahiteveo.com/" data-send="true" data-width="400px"
                             data-show-faces="false" data-font="segoe ui" font-size="20px" date-color="red"></div>
                        <div id="fb-root"></div>
                        <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <br>

                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ahiteveo.com/"
                           data-text="las mejores promociones,cupones,descuentos de Restaurantes, Cafeterías, Viajes, mucho mas..."
                           data-via="sielabs" data-lang="es" data-hashtags="sielabs">Twittear</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>

                        <br><br>
                        <!-- Place this tag in your head or just before your close body tag. -->
                        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                            {
                                lang: 'es-419'
                            }
                        </script>

                        <!-- Place this tag where you want the +1 button to render. -->
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"
                             data-href="http://www.ahiteveo.com/"></div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row text-center" style=" background: #190f05 url(../static/images/fond.jpg)repeat; background-size:100% 100%;">
            <div class="col-md-4 columna">
                <h5>DIRECCION </h5>

                <p class="datos">Av. Cotoca Km 12 Santa Cruz</p>

                <p class="datos">Av. Murillo Nro. 120 Potosi</p>

                <p class="datos">Av. Linares Nro. 1040 piso 5 La Paz </p>
            </div>
            <div class="col-md-4 columna">
                <h5>TEL/CEL CONTACTO </h5>

                <p class="datos">Cel. 70705265</p>

                <p class="datos">cel. 68524563</p>

                <p class="datos">Fono. 33562154 </p>
            </div>
            <div class="col-md-4 columna">
                <h5>SERVICIOS</h5>

                <p class="datos">Desarrollo de Tecnologias en SW</p>

                <p class="datos">Servicios de Consultoria</p>

                <p class="datos">Y otros servicios a pedido jejeje </p>
            </div>
        </div>

        <hr>

        <footer style=" background: #190f05 url(../static/images/fond.jpg)repeat; background-size:100% 100%;">
            <p>©copyright Company 2014 All the rights reserved AhiTeVeo.com</p>
        </footer>
    </div>

</div>
<!-- Librería jQuery requerida por los plugins de JavaScript -->

<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script-->
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>


</body>

</html>