{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}{{ user.username|upper }}{% endblock %}
{% block menuopciones %}
{% include 'users/menu.html' %}
{% endblock %}
{% block cuerpo %}
    <div class="row">
        <h2>Datos de Usuarios</h2>
        <div class="col-md-6 border-color-blueLight">
            <p>
                <strong>Nombre Completo: </strong>{{ user.first_name }} {{ user.last_name }}
            </p>
            <p>
                <strong>Dirección: </strong>{{ perfil.direccion }}
            </p>
            <p>
                <strong>Telfono/Celular: </strong>{{ perfil.telefono }}
            </p>
            <p>
                <strong>Tipo de Usuario: </strong>{{ perfil.tipo }}
            </p>
            <p>
                <strong>Pais - Cuidad: </strong>{{ perfil.ciudad }}
            </p>
            <p>
                <strong>Correo Electronico: </strong>{{ user.email }}
            </p>
        </div>
        <div class="col-md-3">
            {% if perfil.avatar %}
                <img src="/media/{{ perfil.avatar }}" alt="{{ user.first_name }}" class="img-responsive img-thumbnail"/>
            {% else %}
                {% load staticfiles %}
                <img src="{% static 'images/avatar.jpg' %}" alt="{{ user.first_name }}" class="img-responsive img-thumbnail"/>
            {% endif %}

        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}