<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{% url 'productos.views.new_categoria' %}">Categorias</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for categoria in categorias %}
                <a href="" class="list-group-item">{{ categoria.nombre }}</a>
            {% empty %}
                <a href="{% url 'productos.views.new_categoria' %}" class="list-group-item active">Registrar Categoria</a>
            {% endfor %}
        </div>
    </div>
</div>

 <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Group #1<span class="badge pull-right">2</span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="nav nav-sidebar">
            <li><a href="#">option</a></li>
            <li><a href="#">option </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Group #2<span class="badge pull-right">4</span>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="nav nav-sidebar">
            <li><a href="#">option</a></li>
            <li><a href="#">option </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Group #3<span class="badge pull-right">2</span>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="nav nav-sidebar">
            <li><a href="#">option</a></li>
            <li><a href="#">option </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
      $( document ).ready(function() {
          $('.collapse').collapse()
      });
  </script>