{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Usuario no Activo{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert"></button>
                <div class="row">
                    <p class="col-md-9  text-center text-warning msj-error">Usted No es Usuario del Sistema...</p>

                    <img class="col-md-3 imagen_error">
                </div>
            </div>
        </div>
        <p class="lead le">Contactese Con el Administrador del Sistema Para Soluciona su Problema</p>
    </section>
{% endblock %}