{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Usuario{% endblock%}
{% block cuerpo %}
     <div class="grid">
        <div class="row">
            <div class="span4">
                <a class="button" href="{% url 'users.views.reset_pass' %}"><b class="icon-refresh"> </b>Cambiar Contraseña</a>
            </div>
            <div class="span4">
                <a class="button" href="{% url 'users.views.loguet_out' %}">Cerrar Sesion </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Complete el Registro de su Kardex</h3>
            <a href="" class="button bg-color-blue">Completar</a>
        </div>
    </div>
    <div class="span9">
        <p class="lead"><strong>Bienvenido</strong></p>
        <p>{{ usuario.username|upper }}</p>
        <p>{{ usuario.color }}</p>
    </div>

{% endblock %}