<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Imagenes de Producto</h4>
</div>
<div class="modal-body text-center">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            {% for image in imagenes %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner grp-margin" role="listbox">
            <div class="item active">
                <img src="/media/{{ producto.portada }}" alt="{{ producto.nombre }}" width="600px" height="400px">
                <!--div class="carousel-caption"></div-->
            </div>
            {% for image in imagenes %}
                <div class="item">
                    <img class="img-responsive" src="/media/{{ image.imagen }}" alt="{{ producto.nombre }}-{{ forloop.counter }}" width="600px" height="400px">
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
</div>
<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>